#card-info-btn{
	border-radius: 8px;
}

.toc-link.active{
	border-radius: 8px;
	box-shadow: 0 8px 12px -3px rgba(0,196,182,0.2);
}

#pagination .prev-post .label, #pagination .next-post .label{
	color: inherit;
}

#pagination .next_info, #pagination .prev_info{
	color: inherit;
}

#pagination .prev-post a, #pagination .next-post a{
	color: inherit;
}

#pagination.pagination-post{
	background: var(--card-bg);
	color: var(--font-color);
	border: var(--light-grey) 1px solid;
}

#pagination.pagination-post:hover{
	box-shadow: 0 0 8px 0 rgb(232 237 250 / 60%), 0 2px 4px 0 rgb(232 237 250 / 50%);
	transition: all 0.3s ease-in-out;
}

#pagination .prev-post:hover, #pagination .next-post:hover{
	color: #49b1f5;
	transition: all 0.3s ease-in-out;
}

.relatedPosts > .relatedPosts-list > div{
	background: var(--card-bg);
	color: var(--font-color);
	border: var(--light-grey) 1px solid;
}

.relatedPosts > .relatedPosts-list > div:hover{
	box-shadow: 0 0 8px 0 rgb(232 237 250 / 60%), 0 2px 4px 0 rgb(232 237 250 / 50%);
	transition: all 0.3s ease-in-out;
}

.relatedPosts > .relatedPosts-list > div > a{
	color: inherit;
}

.relatedPosts > .relatedPosts-list .content .date{
	color: inherit;
}

.relatedPosts > .relatedPosts-list .content .title{
	color: inherit;
}